[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Flask-JWT-Extended = "*"

[dev-packages]

[requires]
python_version = "3.9"
