{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>User details</title>
{% endblock %}

{% block content %}

<body style="background-color: #1C1C1E;">
    <div class="header">
        <div class="side-nav">
            <a href="#" class="hamb-icon">
                <img src="../static/images/hamburger_icon.png" class="hamb-icon-size">
            </a>
            <ul class="nav-links">
                <li><a href="{{ url_for('main.home') }}"><i class="fa-solid fa-house"></i>
                        <p>Home</p>
                    </a></li>
                <li><a href="{{ url_for('poems.write_poem') }}"><i class="fa-solid fa-file-pen"></i>
                        <p>Write poem</p>
                    </a></li>
                <li><a href="{{ url_for('users.my_profile') }}"><i class="fa-solid fa-user"></i>
                        <p>My profile</p>
                    </a></li>
                <li><a href="{{ url_for('main.logout') }}"><i class="fa-solid fa-right-from-bracket"></i>
                        <p>Log out</p>
                    </a></li>
                <div class="active"></div>
            </ul>
        </div>

        <div class="mx-auto" style="width: 600px;margin-top: 10%;">

            <form class="px-4 py-3">
                <fieldset disabled>
                    <div>
                        <label for="disabledTextInput" class="form-label, normal-white-text"
                            style="margin-bottom: 8px">Name and surname</label>
                        <input class="form-control" type="text" placeholder="{{ user_req.name }}"
                            aria-label="default input example" style="margin-bottom: 8px">
                    </div>
                    <div>
                        <label for="disabledTextInput" class="form-label, normal-white-text"
                            style="margin-bottom: 8px">Email</label>
                        <input class="form-control" type="text" placeholder="{{ user_req.email }}"
                            aria-label="default input example">
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="disabledTextInput" class="form-label, normal-white-text"
                                style="width: 95%;margin-top: 12px">Number of poems written</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                placeholder="{{ user_req.poem_amount }}" style="width: 75%">
                        </div>
                        <div class="col-xs-6">
                            <label for="disabledTextInput" class="form-label, normal-white-text"
                                style="width: 95%; margin-top: 12px">Number of poems rated</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                                placeholder="{{ user_req.score_amount }}" style="width: 75%" />
                        </div>
                    </div>
                </fieldset>

                <a type="button" style="margin-top: 15px;background-color: blue;" class="btn btn-info"
                    href="{{url_for('users.modify_profile')}}">Change information</a>

            </form>
            <div class="dropdown-divider"></div>
        </div>
    </div>
</body>
{% endblock %}